<div class="animated fadeIn">
    <div class="row">
    
    </div>
    <div class="col-md-12 mb-4">
        <!-- Nav tabs -->
        <tabset>
          <tab>
            <ng-template tabHeading><i class="icon-list"></i>Detalle de la Pelicula</ng-template>
            <div class="card">
                <div class="card-header">
                  <i class="fa fa-align-justify"></i> Peliculas Alquilados
                </div>
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Titulo</th>
                        <th>Genero</th>
                        <th> Estreno</th>
                        <th>Cliente</th>
                         <th>foto</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let pelicula of peli">
                      <tr>
                        <td>{{pelicula.Titulo}}</td>
                        <td>{{pelicula.Genero}}</td>
                        <td>{{pelicula.Fecha_estreno}}</td>
                        <td>{{pelicula.nombre}}</td>
      
                        <td>
                          <span class="badge badge-success">{{pelicula.foto_pelicula}}</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </div>
              </div>
          </tab>
          <tab>
            <ng-template tabHeading><i class="icon-calculator"></i>Detalle del Alquiler</ng-template>
            <div class="card">
                <div class="card-header">
                  <i class="fa fa-align-justify"></i>Periodo de peliculas alquiladas
                </div>
                <div class="card-body">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                          <th>Titulo</th>
                          <th>Cliente</th>
                          <th>Fecha ALquiler</th>
                          <th>Fecna Devolucion</th>
                          <th>Precio</th>
                          <th>Cantidad</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let pelicula of peli1">
                      <tr>
                          <td>{{pelicula.Titulo}}</td>
                          <td>{{pelicula.nombre}}</td>
                          <td>{{pelicula.Fecha_alquiler}}</td>
                          <td>{{pelicula.Fecha_devolucion}}</td>
                          <td>{{pelicula.total}}</td>
                          <td>{{pelicula.cantiTotal}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </div>
              </div>
          </tab>
        </tabset>
      </div><!--/.col-->
    <!--/.row-->
  </div>
  